<h3> Welcome to Recipe</h3>
<ol class="list-inline">
<li>
  <h1 clas="h2">Easy Tutorial</h1>
  <p>Register and unlock the power of the Recipe</p>
  <p>Now go to the Manage button</p>
  <p>Create,Delete,Edit and press Save Data! <span class="glyphicon glyphicon-star" aria-hidden="true"></span></p>
  <p>You leave the page and now all your recipes are gone? Take it easy use the Fetch button to recover all your recipes <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></p>
</li>
</ol>
