<div class="row">
  <div class="col-md-10 pull-left">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-2 form-group">
         <label for="Name">Name</label>
           <input
                    type="text"
                    id="name"
                    class="form-control"
                    name="Name"
                    required
                    ngModel>
          <br>
          <label for="amount" style="text-indent: 1em;">Amount</label>
          <br>
          <div class="col-md-8-lg-12 pull-right" style="text-indent: -2em;" >
            <input type="number"
                   id="amount"
                   class="form-control"
                   ngModel
                   required
                   name="amount"
                   style="text-indent: 1em;"
                   pattern="^[1-9]+[0-9]*$">
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  [disabled]="!f.valid"
           >{{ editMode ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger"
                  type="button"
                  (click)="onDelete()"
                  *ngIf="editMode"
          >Delete</button>
          <button class="btn btn-primary"
                  type="button"
                  (click)="onClear()"
          >Clear</button>
         </div>
      </div>
    </form>
  </div>
</div>
